* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 32px;  
    background-color: #141414;
}

@font-face {
    font-family: 'netflix_sansbold';
    src: url('fonts/netflix_sans_bold-webfont.woff2') format('woff2'),
         url('fonts/netflix_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sanslight';
    src: url('fonts/netflix_sans_light-webfont.woff2') format('woff2'),
         url('fonts/netflix_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sansmedium';
    src: url('fonts/netflix_sans_medium-webfont.woff2') format('woff2'),
         url('fonts/netflix_sans_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3 {
    font-family: 'netflix_sansmedium', sans-serif;
}

span {
    font-family: 'netflix_sanslight', sans-serif;
}