* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'netflix_sansbold';
    src: url('netflix_sans_bold-webfont.woff2') format('woff2'),
         url('netflix_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sanslight';
    src: url('netflix_sans_light-webfont.woff2') format('woff2'),
         url('netflix_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sansmedium';
    src: url('netflix_sans_medium-webfont.woff2') format('woff2'),
         url('netflix_sans_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}